@using System.Web.Optimization;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Product information</h2>
<div data-bind="with: currentProduct">
    <p>Product id: <span data-bind="text: ProductId"></span></p>
    <p>Product code: <span data-bind="text: ProductCode"></span></p>
    <p>Product Name: <span data-bind="text: ProductName"></span></p>
</div>
@section scripts {
    @Scripts.Render("~/bundles/WebAppWithBower1/Product")
    <script>
        var vm = new WebAppWithBower1.Product.ProductVM();
        ko.applyBindings(vm);

        //$(document).ready(() => {
        //    var vm = new WebAppWithBower1.Product.ProductVM();
        //});
    </script>
}