@using System.Web.Optimization;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="~/data/product.json">~/data/product.json</a>
<h2>Index</h2>

@section scripts {
    @Scripts.Render("~/bundles/WebAppWithBower1/Product")
    <script>
        //var vm = new WebAppWithBower1.Product.ProductVM();
        //ko.applyBindings(vm);

        $(document).ready(() => {
            var vm = new WebAppWithBower1.Product.ProductVM();
        });
    </script>
}